.form-container {
  width: 20%;
  height: 200px;
  margin: auto;
  margin-top: 15%;
  display: flex;
  
}

.email-input {
  background-color:antiquewhite;
}

.password-input {
  background-color:antiquewhite;
}

.login-btn {
  background-color: darkcyan;
}

