.product-banner-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: relative;
    background-color: gray;
}

.product-banner-container h2 {
    margin: auto;
    font-size: 48px;
}

.product-info-overall-container {
    display: flex;
    /* justify-content: space-between; */
    width: 100%;
    height: 500px;
}

.product-description {
    max-width: 90%;
    height: 100%;
}

.product-info-left-container {
    display: flex;
    flex-direction: column;
    max-width: 49%;
}

.product-info-right-container {
    display: flex;
    flex-direction: column;
    margin-left: 2%;
}

.product-additional-info-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.addition-production-info {
    width: 100%;
}

.product-mini-titles {
    width: 50%;
}

.product-mini-titles-text {
    width: 90%;  
}

.product-image-overall-container {
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.product-image-left-container {
width: 49%;
height: 100%;
position: relative;
}

.product-image-right-container {
width: 49%;
display: flex;
flex-direction: column;
justify-content: space-between;
height: 100%;
}
.product-image-one {
    height: 100%;
    position: relative;
    width: 100%;
}
.product-image-two {
    height: 48%;
    position: relative;
    width: 100%;
}
.product-image-three {
    position: relative;
    height: 48%;
    width: 100%;
}


