.fullwidth-container {
    width: 100%;
    height: 50vh;
    background-image:url(../../public/img/coatedbackground.jpg);
    background-size: cover;
    background-position: center 100%;
} 

.fullscreen-container {
    display: flex;
    width: 100%;
    height: 100%; 
    margin: auto;
}  

/* 2 av samme css styles med forskjellige classes - usikker på layout  */
/* .fullwidth-container {
    display: flex;
    width: 100%;
    height: 100%; 
    margin: auto;
}

.fullscreen-container {
    width: 100%;
    height: 50vh;
    background-image:url(../../public/img/coatedbackground.jpg);
    background-size: cover;
    background-position: center 100%;
}  */
/* ------- */

.nav-wrapper {
    width: 80%;
}

/* .main-container {
    display: flex;
    flex-direction: column;
    width: 66%;
    margin: auto;
} */

.hero-page-title {
    margin: auto;
}

.project-card-container {
    max-width: fit-content;
    width: 100%;
}

.about-paragraph {
margin-bottom: 30px;
margin-top: 10px;
}

.searchbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* hmmm wtf?
.project-card-container:hover {
 color: yellow !important;
  } */


.nav-work-container {
    width: 66%;
    margin: auto;
}

.test-img {
    width: 100px;
    height: 100px;
}