.fullwidth-container {
    width: 100%;
    height: 50vh;
    background-image:url(../../public/img/coatedbackground.jpg);
    background-size: cover;
    background-position: center 100%;
} 

.fullscreen-container {
    display: flex;
    width: 100%;
    height: 90%; 
    margin: auto;
}  


.nav-wrapper {
    width: 80%;
}


.hero-page-title {
    margin: auto;
}

.project-card-container {
    max-width: fit-content;
    width: 100%;
}

.about-work-paragraph {
margin-bottom: 30px;
margin-top: 10px;
}

.searchbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.project-card-container {
    color: rgb(24 24 27);
}

.card-title:hover,.project-card-container:hover {
    color: rgb(161 161 170);
  } 


.card-image-container {
    width: 100%;
    /* height: 250px; */
    position: relative;
}

.nav-work-container {
    width: 66%;
    margin: auto;
}

.test-img {
    width: 100px;
    height: 100px;
}


@media (max-width: 767px) {  
    .searchbar-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 5%;
    }
    
    .all-products-container {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
        padding-bottom: 10%;
    }

}