.main-about-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%; 
    margin: auto;
    margin-top: 30px;
    /* justify-content: space-between; */
} 
.main-container {
    display: flex;
    flex-direction: column;
    width: 66%;
    height: 100%;
    margin: auto;
  }
  

.left-about-container{
    width: 50%;
    height: 100%; 
    
}

.right-about-container {
    width: 40%;
    height: 100%; 
    margin-left: auto;
}

.contact-container {
    display: flex;
    flex-direction: column;
    width:100%;
    margin-top: 5px;
}
.contact-paragraph {
    line-height: 1.8 !important;
}

.icon-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.about-sub-title {
    line-height: 1.8 !important;
    margin-top: 20px;
}
.about-paragraph {
    line-height: 1.8 !important;
    padding-bottom: 20px;
    border-bottom: 1.5px solid rgb(228 228 231);;
}

.about-ul-container {
    line-height: 1.8 !important;
    padding-bottom: 20px;
    border-bottom: 1.5px solid rgb(228 228 231);;
}

.about-ul-container li {
    margin-left: 20px;
}


@media (max-width: 767px) { 

    .main-about-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%; 
        margin: auto;
        margin-top: 30px;
        /* justify-content: space-between; */
    } 

    .overall-about {
        display: flex;
        flex-direction: column;
    }


    .main-container {
        display: flex;
        flex-direction: column;
        width: 66%;
        height: 100%;
        margin: auto;
      }
      
    
    .left-about-container{
        width: 100%;
        height: 100%; 
        
    }
    
    .right-about-container {
        width: 100%;
        height: 100%; 
        margin-left: auto;
    }
    
}
