.all-messages-container {

}

.single-message-container {
    margin-bottom: 20px;
    border-bottom: 1px black solid;
}

.message-name {

}

.actual-message {

}
.inbox-subtitle {
    margin-bottom: 20px;
    
}