.token-contaier {
    background-color: aquamarine;
    width: 50%;
    height: 30%;
  }
  
.delete-btn {
  background-color: rgb(153 27 27);
  color: white;
  width: 150px;
  height: 50px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  opacity: 100%;
}

.delete-btn:hover {
  opacity: 70%;
}